body {
  font-family: Helvetica, Arial;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

a {
  color: #1166dd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  width: 1100px;
  height: 100%;
}

#sidebar {
  float: left;
  width: 250px;
  background-color: #48a;
  height: 100%;
  padding: 10px;
  position: fixed;
}

#sidebar a {
  color: #fff;
  padding: 5px;
}

#sidebar a:hover {
  background-color: #1144ff;
  color: #fff;
  text-decoration:none;
}

#container {
  float: left;
  margin-left: 270px;
  width: 790px;
  padding-left: 10px;
  padding-top: 10px;
  /*width: 1000px;
  padding: 0px 20px 0px 20px;*/
  background-color: #fff;
}

#sidebar_info {

}

.sidebar_heading {
  /*font-variant: small-caps;*/
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.sidebar_stat {
  margin-bottom: 5px;
}

.sidebar_substat {
  margin-left: 5px;
  padding: 5px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header_title {
  float: left;
  width: 500px;
}

#loading_gif {
  font-size: 14px;
  float: right;
  font-weight: normal;
  display: none;
}

.nav {
  margin-bottom: 10px;
}

.nav_link {
  margin-right: 40px;
  padding: 5px;
  color: #fff;
}

.nav_container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.history_entry {
  margin-bottom: 10px;
}

.chart_title {
  font-weight:bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.chart_heading {
  font-weight:bold;
  margin-bottom: 5px;
  font-size: 13px;
}

.arrow {
    height: 18px;
    position: relative;
    top: 3px;
    padding-left: 1mm;
    padding-right: 1mm;
}

.text_input {
  width: 200px;
  height: 22px;
  font-size: 16px;
  font-family: Helvetica, Arial;
}

.submit_input {
  margin-left: 10px;
}
